.Main__banner{
    background-color: antiquewhite;
}
.Main__banner--detail{
    display: flex;
    justify-content: space-between;
}
.Main__banner--text{
    width: inherit;
    height: inherit;
    align-self:center ;
    text-align: center;
}
.Main__banner--text2{
    margin: 5px auto;
    width: 350px;
    text-align: center;
    font-size: 15px;
}
.custom-btn {
    margin: 5px 0;
    width: 130px;
    height: 40px;
    color: #fff;
    padding: 0px 25px;
    font-weight: 500;
    font-size: 15px;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;          
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                     7px 7px 20px 0px rgba(0,0,0,.1),
                     4px 5px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.Main__banner--btn {
    border: none;
    background: linear-gradient(0deg, rgb(60, 179, 243) 0%, rgba(60, 179, 243, 0.554) 100%);
    color: #fff;
}
.Main__banner--btn:hover{
    opacity: .8;        
}
.Main__banner--btn:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
.Main__text{
    text-align: center;
    margin: 100px 0 20px 0;
}
.Main__text--big{
    font-size: 80px;
}
.Main__text--mid{
    font-size: 25px;
    font-weight: 200;
}
.Main__category{
    width: 100%;
    margin: 20px 0;
    background-color: rgba(255, 192, 203, 0.375);
    min-height: 600px;

}
.Main__category--detail{
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 100%;
}