/* css for maps */
.embed-container {
    position: relative;
    padding-bottom: 37.5%; /* 2/3 of 56.25% */
    height: 0;
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* css form */
.contact-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.contact-form-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-form-container p {
    margin: 10px 0;
    color: #666;
}

.hints {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.hint-box {
    flex: 1;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
}

.hint-box-icon {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.hint-box img {
    width: 80px;
}

.hint-box .content {
    padding: 0 16px;
    font-size: 14px;
    color: black;
    font-family: var(--font-book, 'Gotham SSm book A', 'Gotham SSm book B', Helvetica, Arial, sans-serif);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.hint-box .content:hover {
    font-size: larger;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
}

.file-upload label {
    text-align: center;
    color: #666;
    margin-bottom: 10px;
}

.file-upload input {
    display: none;
}

.upload-button {
    padding: 0 2px;
    border-radius: 2px;
}

.checkbox-group {
    display: flex;
    justify-content: flex-start; /* Align left */
    width: 100%; /* Ensure full width */
}

.submit-button {
    padding: 10px 20px; /* Adjust padding to make button fit its content */
    font-size: 16px;
    background-color: #d00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: auto; /* Adjust width to auto */
    align-self: center; /* Center the button horizontally */
}

.submit-button:hover {
    background-color: #a00;
}

@media (max-width: 1440px) {
    .contact-form-container h1 {
        font-size: 1.8em;
    }

    .contact-form-container p {
        font-size: 14px;
    }

    .hint-box img {
        width: 60px;
    }

    .hint-box .content {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .embed-container {
        max-width: 90%;
    }

    .hints {
        flex-direction: column;
        gap: 20px;
    }

    .hint-box img {
        width: 50px;
    }

    .hint-box .content {
        font-size: 12px;
    }

    .contact-form-container h1 {
        font-size: 1.5em;
    }

    .contact-form-container p {
        font-size: 14px;
    }
}
