.footer {
    background-color: #e0b6d2;
    color: #fff;
    padding: 20px;
  }
  .footer .footer-width {
    max-width: 1250px;
    margin: 0 auto;
  }
  .footer .footer-mid {   
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .footer .payment-methods-img{
    margin-left: 400px;
  }
  .footer .payment-methods img {
    width: 50px;
    height: 20px;
    margin-right: 15px;
  }
  .footer .footer-links {
    display: flex;
    gap: 70px;
  }
  .footer .footer-links ul {
    list-style: none;
    padding-left: 10px;
  }
  .footer .footer-links ul li{
    margin-bottom: 20px;
  }
  .footer .footer-links a {
    color: #fff;
  }
  .footer .footer-links .about-links {
    margin-top: 30px;
  }
  .footer .footer-links .about-links li {
    background-color: #b29d76;
    border-style: solid;
    padding-right: 40px;
    margin-top: 60px;
  }
  .footer .followUs{
    margin-top: 200px;
  }
  .footer .followUs h3{
    margin-left: 67px;
  }
  .footer .followUs-logo{
    display: flex;
    padding-left: 30px;
   }
   .footer .followUs-logo img {
    width: 30px;
    height: 30px;
    margin: 0 7px;
   }
   .footer .clarinsLogo-footer{
    margin-top: 30px;
   }
   .footer .clarinsLogo-footer img {
    width: 280px;
   }
  /* .footer .footer-links .about-links .about-us {  
    padding-right: 41.12px;
  } */
  .footer .newsletter input {
    padding: 5px;
    margin-right: 10px;
  }
  .footer .newsletter button {
    padding: 5px 10px;
    background-color: #ff4081;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .footer .footer-bottom {
    text-align: center;
  }