/* General styles for larger screens */
.bgColor {
    background: linear-gradient(to left, #fcfcfc, #FDEDF9 70%);
    position: sticky;
    top: 0;
    z-index: 100;
    width: inherit;
    margin: 0 auto;
}
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.Header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.Header__nav--list {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.Header__nav--item {
    font-weight: 600;
    color: #000;
    margin: 0 20px;
    flex-shrink: 0;
}
.Header__nav--item:hover {
    opacity: 0.6;
}
.Header__dropBox {
    display: flex;
    min-width: 500px;
    padding: 0;
    top: 22px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    list-style: none;
    text-align: center;
    flex-wrap: wrap;
}
.Header__dropBox--detail {
    color: #000;
    width: 100px;
    margin: 5px 0px;
    font-weight: 600;
    border-right: 2px #333 solid;
}
.Header__dropBox--category:hover {
    cursor: pointer;
    opacity: 0.8;
}
.Header__nav--searchBar {
    box-sizing: border-box;
    height: 30px;
    display: flex;
    margin-left: 20px;
    border: 1px #333 solid;
    border-radius: 7px;
}
.Header__nav--search {
    padding: 10px 10px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    outline: none;
    border: 0;
}
.Header__nav--btn {
    background-color: #ede6e172;
    border: 0;
    min-width: 50px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.Header__nav--btn:hover {
    background-color: #fdd7e3;
}
.Header__navRight {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.Header__navRight--logo {
    margin: 0 80px 0 0;
    padding: 5px;
    height: 80px;
}
.Header__navRight--count {
    width: 100px;
    text-align: right;
    margin: 0 20px;
}
.Header__navRight--cart {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}
.Header__navRight--cart:hover {
    color: grey;
}

hr{
    margin: 0;
}